<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body>
<center><h1> Myocardial Infraction Predictor </h1></center>
<br><br>

<form>
  <div class="form-group">
    <label for="age">AGE</label>
    <input type="email" class="form-control" id="age" aria-describedby="emailHelp" placeholder="Enter AGE">
  </div><br>

  <div class="form-group">
    <label for="STENOK_AN">STENOK_AN</label>
    <input type="email" class="form-control" id="STENOK_AN" aria-describedby="emailHelp" placeholder="Enter STENOK_AN">
      <small id="emailHelp" class="form-text text-muted">Exertional angina pectoris in the anamnesis</small>
  </div><br>

   <div class="form-group">
    <label for="FK_STENOK">FK_STENOK</label>
    <input type="email" class="form-control" id="FK_STENOK" aria-describedby="emailHelp" placeholder="Enter FK_STENOK">
      <small id="emailHelp" class="form-text text-muted">Functional class (FC) of angina pectoris in the last year</small>
  </div><br>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>